<section class='border-white/20 border-b'>
  <div class='mx-auto border-white/20 border-x max-w-7xl gradient-grid'>
    <div class='mx-auto max-w-7xl p-8'>
      <p class='text-white font-display uppercase lg:text-4xl text-xl'>
        Dev.Inc es una empresa especializada en el desarrollo de aplicaciones
        web y páginas estáticas de alto rendimiento, ofreciendo soluciones
        digitales innovadoras y adaptadas a las necesidades de nuestros
        clientes.
      </p>
    </div>
    <div class='mx-auto max-w-7xl p-8 pt-0'>
      <p class='text-white font-display uppercase lg:text-3xl'>
        Nuestro equipo se dedica a crear experiencias web eficientes y
        escalables, garantizando un enfoque en la optimización, funcionalidad y
        diseño atractivo, ya sea para proyectos dinámicos o sitios estáticos
        optimizados para la velocidad y el SEO.
      </p>
    </div>
  </div>
</section>
