@import "tailwindcss";

@theme {
  --color-black: #1e1e1e;
  --color-white: #e7e7d8;
  --color-eagle: #afac95;
  --color-orange: #ea4125;
  --color-aureolin: #FFEF43;
  /* --color-maize: hsl(55, 100%, 75%); */
}
.font-display {
  font-family: Basement, sans-serif;
  /* font-family: 'Onest Variable', sans-serif; */

  font-weight: 700;
}
@supports (font-variation-settings: normal) {
  /* Use variable font if supported */
  :root {
    /* font-family: InterVariable, sans-serif; */
    /* font-family: system-ui; */
    font-family: 'Onest Variable', sans-serif;
  }
}
@font-face {
  font-family: "Basement";
  src: url("../fonts/BSBlack.eot");
  src: url("../fonts/BSBlack.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BSBlack.woff2") format("woff2"),
    url("../fonts/BSBlack.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  descent-override: 0%;
}
 /* onest-latin-wght-normal */
@font-face {
  font-family: 'Onest Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('@fontsource-variable/onest/files/onest-latin-wght-normal.woff2') format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-marquee {
  animation: marquee 15s linear infinite;
}
.gradient-grid {
  background-image: radial-gradient(
      circle at center center,
      transparent 0%,
      rgba(255, 255, 255, 0) 99%
    ),
    repeating-linear-gradient(
      0deg,
      rgba(205, 205, 205, 0.2) 0px,
      rgba(205, 205, 205, 0.2) 1px,
      transparent 1px,
      transparent 45px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(205, 205, 205, 0.2) 0px,
      rgba(205, 205, 205, 0.2) 1px,
      transparent 1px,
      transparent 45px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}
/* .splide__pagination {
  visibility: hidden;
} */
