---
import "../styles/global.css"
---
<!-- Site Info -->
<meta charset='utf-8' />
<meta name='viewport' content='width=device-width' />
<meta charset='UTF-8' />
<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' />
<meta name='viewport' content='width=device-width, initial-scale=1' />
<meta name='author' content='FrM-Bot' />
<meta
  name='description'
  content='DEV.INC somos un equipo de desarrollo web y sitios estáticos de alto rendimiento, ofreciendo soluciones digitales innovadoras y adaptadas a las necesidades de nuestros clientes.'
/>
<meta
  name='keywords'
  content='DEV.INC, desarrollo web, sitios estáticos, desarrollo de sitios estáticos, desarrollo de aplicaciones web, desarrollo de aplicaciones, desarrollo de páginas estáticas, desarrollo de sitios, desarrollo de aplicaciones web, desarrollo de aplicaciones, desarrollo de páginas estáticas, desarrollo de sitios, desarrollo web, sitios estáticos, aplicaciones web, aplicaciones, páginas estáticas, sitios, web, development, web development, static site development, static website development, application development, application development, static site development, static website development, web development, web development, static site development, static website development, application development, application development, static site development, static website development'
/>
<title>DEV.INC</title>
<meta name='robots' content='index, follow' />
<meta name='googlebot' content='index, follow' />
<!-- Favicon -->
<link rel='icon' type='image/png' href='/favicon/favicon.ico' />
<link rel='apple-touch-icon' href='/favicon/apple-touch-icon.png' />
<!-- Theme Color -->
<meta name='msapplication-TileColor' content='#ffffff' />
<meta name='theme-color' content='#ffffff' />
<!-- Open Graph -->
<meta property='og:title' content='DEV.INC' />
<meta property='og:type' content='website' />
<meta property='og:url' content='https://dev-inc.vercel.app/' />
<meta
  property='og:image'
  content='https://dev-inc.vercel.app/og.png'
/>
<meta
  property='og:description'
  content='DEV.INC somos un equipo de desarrollo web y sitios estáticos de alto rendimiento, ofreciendo soluciones digitales innovadoras y adaptadas a las necesidades de nuestros clientes.'
/>
<meta property='og:locale' content='es_ES' />
<meta property='og:site_name' content='DEV.INC' />
<meta property='og:image:alt' content='DEV.INC' />
<!-- Scripts -->
<script src='https://unpkg.com/mailgo@0.12.2/dist/mailgo.min.js'></script>
