<header
  class="mx-auto border-white/20 2xl:max-w-7xl bg-black/95 backdrop-blur-sm border-b justify-center lg:z-50 w-full">
  <div
    class="mx-auto border-white/20 border-x max-w-7xl flex flex-col lg:flex-row lg:items-center lg:justify-between w-full">
    <nav
      class="text-center items-center w-full flex flex-col justify-between md:px-0 sm:flex-row">
      <h1
        class="text-xs font-display inline-block items-center md:px-8 md:text-center py-4 gap-0 bg-white w-full lg:w-auto duration-150"
        >
        <span>⏤</span>
        <span class="underline">DEV.INC</span>
        <span>⏤</span>
      </h1>
      <a
        href="mailto:developerinc.02@gmail.com"
        class="w-full bg-aureolin duration-200 font-display hover:bg-blacktext-white lg:w-auto px-6 py-4 text-black text-center text-xs"
        >Contáctanos</a
      >
    </nav>
  </div>
</header>
